@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	word-wrap:break-word;
}

.show{
	width:100%;
	height:auto;
}
.show:after{
	content:'';
	display:block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.showbooks{
    border: 1px solid gray;
    width: 20%;
    height:auto;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    float: left;
    transform:scale(1.0);
}
.showbooks:hover{
	transform:scale(1.05);
}
/* .bookimg:HOVER{
	width: 205px;
	height: 205px;
}  */
.nowprice{
	position:absolute;
	 float: left;
    margin-left: 10px;
    color: red;
}
.paseprice{
	margin-left: 80px;
	float:left;
	text-decoration: line-through;
}
.discourt{
	float:left;
	color: red;
	 margin-left: 10px
}
.bookname{
	margin-right: 170px;
}
.editor{
		margin-right: 165px;
}
/* .pushtime{
	margin-right: 165px;
} */
.henxian p{
	width:100%;
	height: auto;
	background: #eee;
}
.henxian p:after{
	content:'';
	display:block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.henxian button{
	font-size: 15px;
	border-radius:5px;
	padding: 6px 15px;
	outline: none;
	border:1px solid #aaa;
	background: #fff;
	margin:10px;
	float:right;
	cursor:pointer;
	display: inline-block;
}

.henxian button:active{
	background: #eee;
}
.henxian span,.henxian input{
	float:right;
}
.henxian span{
	font-size: 15px;
	letter-spacing: 1px;
	display:inline-block;
	line-height: 55px
}
.henxian input{
	width:30px;
	height:30px;
	display:inline-block;
	margin: 13px 5px;
}
.henxian{
	position: fixed;
	bottom: 0px;
	width: 100%;
}
